@page "/dashboard"
@attribute [Authorize]

<h3>Dashboard</h3>

<LogoutButton />

<div class="col-lg-12 control-section">
    <div class="control-wrapper">
        <label class="example-label">Company symbol</label>
        
        <SfAutoComplete TValue="string" TItem="Ticker" Placeholder="company symbol eg. AAPL" 
            DataSource="@LocalData" PopupHeight="300px" PopupWidth="300px" @bind-Value="@AutoVal">
            
            <AutoCompleteTemplates TItem="Ticker">
                <ItemTemplate>
                    <span>
                        <span class='ac-symbol'>
                            @((context as Ticker).Symbol)
                        </span>
                        <span class='ac-name'>
                            @((context as Ticker).Name)
                        </span>
                    </span>
                </ItemTemplate>
            </AutoCompleteTemplates>

            <AutoCompleteFieldSettings Value="Symbol" />
        </SfAutoComplete>
    </div>
</div>

<h3>CHOOSE COMPANY</h3>

@code {
    public List<Ticker> LocalData { get; set; }
    public string AutoVal { get; set; }

    protected override async Task OnInitializedAsync()
    {
        LocalData = new List<Ticker>()
        {
            new Ticker { Name = "Apple Inc.", Symbol = "AAPL" },
            new Ticker { Name = "Microsoft ...", Symbol = "MSFT" },
            new Ticker { Name = "Google", Symbol = "GOOG" },
            new Ticker { Name = "Gooogle", Symbol = "GOOOG" },
        };
        await base.OnInitializedAsync();
    }
}
