@page "/watchlist"
@attribute [Authorize]
@inject NavigationManager Navigation

<SfGrid @ref="DefaultGrid" TValue="CompanyDTO" AllowPaging="true" AllowFiltering="true" AllowSorting="true" Toolbar="@(new List<string>() { "Delete" })">
    <SfDataManager Url="api/watchlist" Adaptor="Adaptors.WebApiAdaptor"></SfDataManager>
    <GridFilterSettings Type ="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
    <GridEvents OnLoad="Load" TValue="CompanyDTO"></GridEvents>
    <GridPageSettings PageCount="4"></GridPageSettings>
    <GridEditSettings AllowDeleting="true" Mode="EditMode.Normal"></GridEditSettings>
    <GridColumns>
        <GridColumn Field=@nameof(CompanyDTO.Symbol) HeaderText="Symbol" TextAlign="TextAlign.Right" IsPrimaryKey="true" IsIdentity="true">
            <Template>
                @{
                    var ticker = (context as CompanyDTO);
                    <div><a href="#" @onclick="@(() => Navigation.NavigateTo($"dashboard/{ticker.Symbol}", true))">@ticker.Symbol</a></div>
                }
            </Template>
        </GridColumn>
        <GridColumn Field=@nameof(CompanyDTO.Name) HeaderText="Name" />
        <GridColumn Field=@nameof(CompanyDTO.SicDescription) HeaderText="Description" Format="d" TextAlign="TextAlign.Left" />
        <GridColumn Field=@nameof(CompanyDTO.Locale) HeaderText="Locale" Format="C2" TextAlign="TextAlign.Left"  />
    </GridColumns>
</SfGrid>

@code{
    private SfGrid<CompanyDTO> DefaultGrid;
    public int GridHeight;

    public void Load(object args)
    {
        var RowHeight = 37; //height of the each row
        Int32.TryParse(this.DefaultGrid.Height, out GridHeight); //datagrid height
        var PageSize = (this.DefaultGrid.PageSettings as GridPageSettings).PageSize; //initial page size
        decimal PageResize = ((GridHeight) - (PageSize * RowHeight)) / RowHeight; //new page size is obtained here
        #pragma warning disable BL0005
        (this.DefaultGrid.PageSettings as GridPageSettings).PageSize = PageSize + (int)Math.Round(PageResize);
        #pragma warning restore BL0005
    }
}