@inject NavigationManager Navigation

<button class="btn btn-primary" @onclick="@(()=>RedirectToLogout())">Logout</button>

@code {
    public void RedirectToLogout()
    {
        Navigation.NavigateTo($"identity/account/logout", true);
    }
}
