@inject NavigationManager Navigation

<button class="btn btn-primary" @onclick="@(()=>RedirectToWatchlist())">Watchlist</button>

@code {
    public void RedirectToWatchlist()
    {
        Navigation.NavigateTo($"watchlist");
    }
}
